<section class="section-search">
    <div class="align-self-center centerDiv m-auto px-5">
        <!-- Start: Search Field With Icon -->
        <div class="search-container">
            <input type="text" class="search-input form-control" name="search-bar" placeholder="Name1,Name2..." style="margin: 6px;">
            <a [routerLink]="['/result']" routerLinkActive="router-link-active" class="btn btn-light search-btn"
               role="button" style="padding: 12px 18px;">
                <i class="fa fa-search"></i>
            </a>
        </div>
        <!-- End: Search Field With Icon -->
        <div class="text-center btn-search">
            <a class="recentBtn" href="#" style="margin: 0 20px 6px  16px;">Recent
                Search<br></a>
            <a class="favoritesBtn" href="#">Favorites<br></a></div>
        <div class="text-search pt-3 ml-4 pl-3">
            <p class="mb-0"><i class="fa fa-star"></i>&nbsp; WD 40 Juice</p>
            <p><i class="fa fa-star"></i>&nbsp;&nbsp;Ash<br></p>
        </div>
    </div>
</section>
